@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@media screen and (max-width: 600px) {
  #mainContainer {
    display: flex;
    width: 90%;
    background-image: url("frontpic.png");
    background-repeat: no-repeat;
    height: 90%;
    background-attachment: fixed;
    background-position: center center;
    margin: auto 15%;
    justify-content: center;
    flex-direction: column;
  }
  #mainContainer #textInfo {
    font-size: 130%;
    font-weight: 600;
  }
}
@media screen and (min-width: 600px) {
  #mainContainer {
    display: flex;
    width: 60%;
    background-image: url("frontpic.png");
    background-repeat: no-repeat;
    height: 90%;
    background-attachment: fixed;
    background-position: 75% center;
    margin: auto 15%;
    justify-content: center;
    flex-direction: column;
  }
  #mainContainer #textInfo {
    font-size: 200%;
    font-weight: 600;
  }
}
#introPage .wrapper {
  background-color: rgba(255, 255, 255, 0);
  height: 35px;
  display: flex;
}

.words {
  overflow: hidden;
}

.wrapper span {
  display: block;
  height: 400%;
  padding-left: 10px;
  color: #0e6ffc;
  animation: spin_words 6s infinite;
}

.personalinfo {
  margin-top: 5%;
}
.personalinfo .btn {
  width: 100px;
  border-radius: 10px;
  height: 40px;
  margin-right: 2%;
  box-shadow: 2px 2px #888888;
  cursor: pointer;
  color: #0e6ffc;
}
.personalinfo .btn:hover {
  background-color: #0e6ffc;
  color: white;
}

@keyframes spin_words {
  10% {
    transform: translateY(-110%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}