.inner{
    padding-top: 20px;
}

.header{
    text-align: center;
    color: #000000;
    padding: 0.5rem;
    position: relative;
}

.container{
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.8rem 0.8rem;
    font-size: 1rem;
}

.skill-box{
    padding: 0.3rem 0.3rem;
    color: #ddd;
    cursor: pointer;
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}

.skill-box:hover .img{
    transform: translateY(-10px);
}

.skill-title:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: 0.5s;
}

.skill-title:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
    transition: 0.5s;
}

.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-title h3{
    color: #000000;
    margin-top: 0.5rem;
}

.skill-icon{
    width: 50px;
    z-index: 2;
}
